extends layout

block content
  div.alert.alert-danger
    span Please note that dates are stored locally now so you don't have to change dates for every team
  h1= title
  div.container
    div.row
      form(action='/' method='post')
        div.form-group
          label(for='username') Enter Taiga Username
          input.form-control(id='username', type='text' placeholder='Enter Taiga Username' name='username')

        div.form-group
          label(for='password') Enter Taiga Password
          input.form-control(id='password', type='text' placeholder='Enter Taiga Password' name='password')

        div.form-group
          label(for='start-date') Start Date
          input.form-control(id='start-date', type='date' placeholder='MM/DD/YYYY ONLY' name='start_date')

        div.form-group
          label(for='end-date') End Date
          input.form-control(id='end-date', type='date' placeholder='MM/DD/YYYY ONLY' name='end_date')

        div.form-group
          label(for='slug') Project Slug
          input.form-control(id='slug', type='text' placeholder='Enter Project Slug' name='slug')

        button(type='submit' class="btn btn-primary") Submit

    div
      strong
        a#permalink.row
    div#result.row

  script(src='/javascripts/taiga.js')

